@import "../../App.scss";

.sortBlock {
  width: 100%;
  height: 62px;
  display: flex;
  @media screen and (max-width: $tablet) {
    height: 55px;
  }
  @media screen and (max-width: $mobile) {
    height: 42px;
  }
}
