@import "../../App.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid blue;
  margin-bottom: 20px;
  gap: 26px;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.headerLogo {
  width: 100px;
  height: 80px;
  img {
    width: 100%;
  }
}
.headerText {
  color: $base-color;
  font-size: 24px;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
