.container {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;

  @media screen and (max-width: 768px) {
    width: 95%;
  }
}

$base-color: rgba(78, 20, 140, 1);
$base-color-ligth: rgba(133, 138, 227, 1);
$base-bg-color: rgba(232, 235, 242, 1);

$tablet: 768px;
$mobile: 500px;
